h4 Directives

div(dr-locate)
br
br

input(type='text', ng-model='title')
button(ng-click='addMovie()') Add Movie

div

div(dr-movie, ng-repeat='title in titles', title='{{title}}', remove='delMovie($index)')

div(ng-repeat='peep in people', dr-greeting, name='{{peep.name}}', age='{{peep.age}}')

div(dr-clock, frequency='2000')
div(dr-clock, frequency='1000')
div(dr-clock, frequency='500')
div(dr-clock, frequency='25')

div(ng-repeat='symbol in symbols', dr-stock, symbol='{{symbol}}')

div(dr-weather)
div(dr-weather, zip='37064')
div(dr-weather, zip='12494')




